<ol id="posts-list" class="hfeed">
{% for update in update_list %}
  <li>
    <article class="hentry">
    <header>
    <h2 class="entry-title">
      <a href="#start_download_{{ update['revision'] }}">Update to revision {{ update['revision'] }} is available!</a>
    </h2>
    </header>
    <footer class="post-info">
    <a class="action download" id="start_download_{{ update['revision'] }}" href="#download">Download</a>
    </footer>
    <div class="entry-content">
      <p>{{update['description']|e}}</p>
      <abbr class="published">Published on {{ update['date'] }}</abbr>
      <div class="severity-{{ update['level'] }}">{{ update['level'] }}</div>
    </div>
    </article>
  </li>
{% endfor %}
</ol>
