@import url("reset.css");
@import url("global-forms.css");
body { background: #F5F4EF url('../images/bg.png'); color: #000305; font-size: 87.5%; font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; line-height: 1.429; margin: 0; padding: 0; text-align: left; }

h2 { font-size: 1.571em; }

h3 { font-size: 1.429em; }

h4 { font-size: 1.286em; }

h5 { font-size: 1.143em; }

h6 { font-size: 1em; }

h2, h3, h4, h5, h6 { font-weight: 400; line-height: 1.1; margin-bottom: .8em; }

a { outline: 0; }
a img { border: 0px; text-decoration: none; }
a:link, a:visited { color: #c74350; padding: 0 1px; text-decoration: underline; }
a:hover, a:active { background-color: #c74350; color: #fff; text-decoration: none; text-shadow: 1px 1px 1px #333; }

p { margin-bottom: 1.143em; }

* p:last-child { margin-bottom: 0; }

strong, b { font-weight: bold; }

em, i { font-style: italic; }

::-moz-selection { background: #F6CF74; color: #fff; }

::selection { background: #F6CF74; color: #fff; }

ul { list-style: outside disc; margin: 1em 0 1.5em 1.5em; }

ol { list-style: outside decimal; margin: 1em 0 1.5em 1.5em; }

dl { margin: 0 0 1.5em 0; }

dt { font-weight: bold; }

dd { margin-left: 1.5em; }

blockquote { font-style: italic; }

table { margin: .5em auto 1.5em auto; width: 98%; }

thead th { padding: .5em .4em; text-align: left; }

tbody td { padding: .5em .4em; }

header, section, footer, aside, nav, article, figure { display: block; }

.body { clear: both; margin: 0 auto; width: 800px; }

img.right figure.right, img.left { float: right; margin: 0 0 2em 2em; }

figure.left { float: right; margin: 0 0 2em 2em; }

#banner { margin: 0 auto; padding: 2.5em 0 0 0; }
#banner h1 { font-size: 3.571em; line-height: .6; }
#banner h1 a:link, #banner h1 a:visited { color: #000305; display: block; font-weight: bold; margin: 0 0 .6em .2em; text-decoration: none; width: 427px; }
#banner h1 a:hover, #banner h1 a:active { background: none; color: #c74350; text-shadow: none; }
#banner h1 strong { font-size: 0.36em; font-weight: normal; }
#banner nav { background: #000305; font-size: 1.143em; height: 40px; line-height: 30px; margin: 0 auto 2em auto; padding: 0; text-align: center; width: 800px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#banner nav ul { list-style: none; margin: 0 auto; width: 800px; }
#banner nav li { float: left; display: inline; margin: 0; }
#banner nav a:link, #banner nav a:visited { color: #fff; display: inline-block; height: 30px; padding: 5px 1.5em; text-decoration: none; }
#banner nav a:hover, #banner nav a:active { background: #c74350; color: #fff; text-shadow: none !important; }
#banner nav .active a:link, #banner nav .active a:visited { background: #c74350; color: #fff; text-shadow: none !important; }
#banner nav li:first-child a { border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; }

#featured { background: #fff; margin-bottom: 2em; overflow: hidden; padding: 20px; width: 760px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
#featured figure { border: 2px solid #eee; float: right; margin: 0.786em 2em 0 5em; width: 128px; height: 128px; line-height: 168px; text-align: center; }
#featured h2 { color: #C74451; font-size: 1.714em; margin-bottom: 0.333em; }
#featured h3 { font-size: 1.429em; margin-bottom: .5em; }
#featured h3 a:link, #featured h3 a:visited { color: #000305; text-decoration: none; }
#featured h3 a:hover, #featured h3 a:active { color: #fff; }

#content { background: #fff; margin-bottom: 2em; overflow: hidden; padding: 20px 20px; width: 760px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

#extras { margin: 0 auto 3em auto; overflow: hidden; }
#extras ul { list-style: none; margin: 0; }
#extras li { border-bottom: 1px solid #fff; }
#extras h2 { color: #c74350; font-size: 1.429em; margin-bottom: .25em; padding: 0 3px; }
#extras a:link, #extras a:visited { color: #444; display: block; border-bottom: 1px solid #F4E3E3; text-decoration: none; padding: .3em .25em; }
#extras li:last-child { border: 0; }
#extras li:last-child a { border: 0; }
#extras .blogroll li:nth-last-child(2), #extras .blogroll li:nth-last-child(3), #extras .blogroll li:nth-last-child(2) a, #extras .blogroll li:nth-last-child(3) a { border: 0; }
#extras a:hover, #extras a:active { color: #fff; }
#extras .blogroll { float: left; width: 615px; }
#extras .blogroll li { float: left; margin: 0 20px 0 0; width: 185px; }
#extras .social { float: right; width: 175px; }
#extras div[class='social'] a { background-repeat: no-repeat; background-position: 3px 6px; padding-left: 25px; }

.social a[href*='delicious.com'] { background-image: url('../images/icons/delicious.png'); }
.social a[href*='digg.com'] { background-image: url('../images/icons/digg.png'); }
.social a[href*='facebook.com'] { background-image: url('../images/icons/facebook.png'); }
.social a[href*='last.fm'], .social a[href*='lastfm.'] { background-image: url('../images/icons/lastfm.png'); }
.social a[href*='/feed/'] { background-image: url('../images/icons/rss.png'); }
.social a[href*='twitter.com'] { background-image: url('../images/icons/twitter.png'); }

#about { background: #fff; font-style: normal; margin-bottom: 2em; overflow: hidden; padding: 20px; text-align: left; width: 760px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
#about .primary { float: left; width: 165px; }
#about .primary strong { color: #c74350; display: block; font-size: 1.286em; }
#about .photo { float: left; margin: 5px 20px; }
#about .url:link, #about .url:visited { text-decoration: none; }
#about .bio { float: right; width: 500px; }

#contentinfo { padding-bottom: 2em; text-align: right; }

.hentry { border-bottom: 1px solid #eee; padding: 1.5em 0; }

li:last-child .hentry { border: 0; margin: 0; }

#content > .hentry { border: 0; margin: 0; padding: 1em 0; }

.entry-title { color: #c74350; font-size: 1.429em; margin-bottom: 0; }
.entry-title a:link, .entry-title a:visited { text-decoration: none; }

.hentry .post-info * { font-style: normal; }
.hentry abbr { font-style: italic; }
.hentry footer { margin-bottom: 2em; }
.hentry footer address { display: inline; }

#posts-list { list-style: none; margin: 0; }
#posts-list footer address { display: block; }
#posts-list .hentry { padding-left: 200px; position: relative; }
#posts-list .hentry:hover { background: #C64350; color: #fff; }
#posts-list .hentry:hover a:link, #posts-list .hentry:hover a:visited { color: #F6CF74; text-shadow: 1px 1px 1px #333; }
#posts-list footer { left: 10px; position: absolute; top: 1.5em; width: 190px; }

#about-author { background: #f9f9f9; clear: both; font-style: normal; margin: 2em 0; padding: 10px 20px 15px 20px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#about-author strong { color: #C64350; clear: both; display: block; font-size: 1.429em; }
#about-author .photo { border: 1px solid #ddd; float: left; margin: 5px 1em 0 0; }

#comments-list { list-style: none; margin: 0 1em; }
#comments-list blockquote { background: #f8f8f8; clear: both; font-style: normal; margin: 0; padding: 15px 20px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#comments-list footer { color: #888; padding: .5em 1em 0 0; text-align: right; }
#comments-list li:nth-child(2n) blockquote { background: #F5f5f5; }

#add-comment label { clear: left; float: left; text-align: left; width: 150px; }
#add-comment input[type='text'], #add-comment input[type='email'], #add-comment input[type='url'] { float: left; width: 200px; }
#add-comment textarea { float: left; height: 150px; width: 495px; }
#add-comment p.req { clear: both; margin: 0 .5em 1em 0; text-align: right; }
#add-comment input[type='submit'] { float: right; margin: 0 .5em; }
#add-comment * { margin-bottom: .5em; }

.hidden { display: none; }

.severity-1 { border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; box-shadow: 0 0 10px #449ec7; -moz-box-shadow: 0 0 10px #449ec7; -webkit-box-shadow: 0 0 10px #449ec7; width: 50px; height: 50px; line-height: 50px; vertical-align: middle; text-align: center; background-color: white; border: 5px solid #449ec7; font-size: 40px; font-family: Arial, sans-serif; font-weight: bold; position: absolute; top: 10px; right: 10px; }
li:hover .severity-1 { box-shadow: 0 0 10px white; -moz-box-shadow: 0 0 10px white; -webkit-box-shadow: 0 0 10px white; color: black; }

.severity-2 { border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; box-shadow: 0 0 10px #44c748; -moz-box-shadow: 0 0 10px #44c748; -webkit-box-shadow: 0 0 10px #44c748; width: 50px; height: 50px; line-height: 50px; vertical-align: middle; text-align: center; background-color: white; border: 5px solid #44c748; font-size: 40px; font-family: Arial, sans-serif; font-weight: bold; position: absolute; top: 10px; right: 10px; }
li:hover .severity-2 { box-shadow: 0 0 10px white; -moz-box-shadow: 0 0 10px white; -webkit-box-shadow: 0 0 10px white; color: black; }

.severity-3 { border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; box-shadow: 0 0 10px #c3c744; -moz-box-shadow: 0 0 10px #c3c744; -webkit-box-shadow: 0 0 10px #c3c744; width: 50px; height: 50px; line-height: 50px; vertical-align: middle; text-align: center; background-color: white; border: 5px solid #c3c744; font-size: 40px; font-family: Arial, sans-serif; font-weight: bold; position: absolute; top: 10px; right: 10px; }
li:hover .severity-3 { box-shadow: 0 0 10px white; -moz-box-shadow: 0 0 10px white; -webkit-box-shadow: 0 0 10px white; color: black; }

.severity-4 { border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; box-shadow: 0 0 10px #c77544; -moz-box-shadow: 0 0 10px #c77544; -webkit-box-shadow: 0 0 10px #c77544; width: 50px; height: 50px; line-height: 50px; vertical-align: middle; text-align: center; background-color: white; border: 5px solid #c77544; font-size: 40px; font-family: Arial, sans-serif; font-weight: bold; position: absolute; top: 10px; right: 10px; }
li:hover .severity-4 { box-shadow: 0 0 10px white; -moz-box-shadow: 0 0 10px white; -webkit-box-shadow: 0 0 10px white; color: black; }

.severity-5 { border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; box-shadow: 0 0 10px #c74444; -moz-box-shadow: 0 0 10px #c74444; -webkit-box-shadow: 0 0 10px #c74444; width: 50px; height: 50px; line-height: 50px; vertical-align: middle; text-align: center; background-color: white; border: 5px solid #c74444; font-size: 40px; font-family: Arial, sans-serif; font-weight: bold; position: absolute; top: 10px; right: 10px; }
li:hover .severity-5 { box-shadow: 0 0 10px white; -moz-box-shadow: 0 0 10px white; -webkit-box-shadow: 0 0 10px white; color: black; }

.minispin { width: 32px; height: 32px; }

#error_data { color: #c74350; font-style: italic; }

a.action { display: block; padding-left: 32px; line-height: 32px; background: transparent scroll 0 0 no-repeat; }
a.action.download { background-image: url("/_shared/updater/images/actions/download.png"); }
