{% extends "updater/layout.html" %}
{% set page_title = _("Updater Home") %}
{% block aside %}
<article id="check">
  <figure>
    <img src="{{ url_for('shared/updater', filename='images/logo.png') }}" alt="Update Box" />
  </figure>
  <div class="check_0">
    <hgroup>
      <h2>Check for Updates</h2>
      <h3><a href="#" id="update_link">Click to check for available updates for {{ app_name }}</a></h3>
    </hgroup>
    <p class="intro">Updates provide more features, bug fixes and security patches. Be sure
    to check for updates from time to time.</p>
  </div><div class="check_1 hidden">
    <hgroup>
      <h2>Updates available!</h2>
    </hgroup>
    <p>
    There are <span id="update_count">0</span> updates available. Check the list
    below and download the updates to obtain more information on them!
    </p>
  </div><div class="check_2 hidden">
    <hgroup>
      <h2>You are Up To Date!</h2>
    </hgroup>
    <p>There are currently no new updates available.<br />Thank you!</p>
  </div><div class="check_3 hidden">
    <hgroup>
      <h2>An Error occureded</h2>
    </hgroup>
    <p>We are sorry to say this, but there was an error retrieving the data. This
    error message might help:</p>
    <p id="error_data">Argh! Not even debug data is available. I'm really
      sorry.</p>
  </div>
</article>
{% endblock aside %}

{% set content_classes="body hidden" %}
{% block content %}
<ol id="posts-list" class="hfeed">
  <li>
    <article class="hentry">
    <header>
    <h2 class="entry-title">
      <a href="#update_X">Loading ...</a>
    </h2>
    </header>
    <footer class="post-info">
    <abbr class="published"><img class="minispin" src="{{ url_for('shared/updater', filename='images/spinner.apng') }}" alt="Spinner"  /></abbr>
    </footer>
    <div class="entry-content">
    </div>
    </article>
  </li>
</ol>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{url_for('shared/updater', filename='js/updater.js')}}"></script>
<script type="text/javascript">
  $(function() {
    window.updater = new UpdateApplication();
  });
</script>
{% endblock %}
