{% extends "updater/layout.html" %}
{% set page_title = _("Update List") %}
{% block aside %}
<article id="check">
  <figure>
    <img src="{{ url_for('shared/updater', filename='images/logo.png') }}" alt="Update Box" />
  </figure>
  <div class="check_0">
    <hgroup>
      <h2>Updates downloaded</h2>
    </hgroup>
    <p class="intro">This view lists all updates available locally.</p>
  </div>
</article>
{% endblock aside %}

{% block content %}
<ol id="posts-list" class="hfeed">
  {% for version in version_list %}
  <li>
    <article class="hentry">
    <header>
    <h2 class="entry-title">
      <a href="#version_{{ version['revision'] }}">Revision {{ version['revision'] }}</a>
    </h2>
    </header>
    <footer class="post-info">
    <a href="#" class="action verify" id="verify_{{ version['revision'] }}">Verify</a>
    </footer>
    <div class="entry-content">
      {% if version.update.state == 'verify' %}
      <p>Package has been downloaded and is ready to be verified.</p>
      {% else %}
      <p><em>Unknown package state <q>{{ version.update.state|e }}</q>. Sorry.</em></p>
      {% endif %}
      <abbr class="published">
        Last update on {{ version.update.updated }}.
      </abbr>
    </div>
    </article>
  </li>
  {% endfor %}
</ol>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{url_for('shared/updater', filename='js/updater.js')}}"></script>
<script type="text/javascript">
  $(function() {
    window.updater = new UpdateApplication("list");
  });
</script>
{% endblock %}
